@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;800&display=swap');

body {
    background-color: rgb(24, 2, 85);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'nova Square', cursive;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*Score*/
#endScore {
    color: white;
    font-size: 5rem;
    text-align: center;
}

/*Enter-Your-Name*/
.end-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

#end-text {
    font-size: 2.4rem;
    color: white;
    text-align: center;
}

input {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 30rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    margin-bottom: 3rem;
}

input::placeholder {
    color: rgb(158, 144, 144);
}

/*Buttons*/
.btn {
    font-size: 2.4rem;
    padding: 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: darkblue;
    background: linear-gradient(90deg, rgb(124, 138, 158) 0%, rgb(208, 211, 209) 100%);
    border-radius: 4px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(70, 64, 250, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: darkblue;
}