body {
    color: white;
}
/*Start-Question*/
#quiz {
    width: 580px;
    height: 480px;
    display: none;
    position: relative;
    background-image: url(assets/images/background-game.webp);
    display: block;
    border-radius: 20px;
}

#quiz #question {
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: rgb(6, 236, 129);
}

.select-container {
    display: flex;
    margin-left: 40px;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: darkblue;
    font-size: 3rem;
    max-width: 90%;
}

.select-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(227, 233, 240, 0.856);
    transform: scale(1.05);
    transition: transform 100ms;
    background: blue;
}

.select-choice {
    padding: 2rem 2.5rem;
}

.select-text {
    padding: 2rem;
    width: 100%;
}
/*JavaScript*/
.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}
/*JavaScript*/
/*End-Game*/

/*Start-HowIsGoing*/
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.hud-prefix span {
    margin-left: 7rem;
    font-size: 2rem;
}

.hud-text {
    margin-right: 5rem;
    margin-bottom: 5rem;
    color: white;
    font-weight: bold;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(12, 2, 71);
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(6, 0, 63);
    width: 0%;
}

h1 {
    margin-left: 10rem;
}
/*End-HowIsGoing*/
/*Start-Responsive*/

@media screen and (max-width: 768px) {
    .select-container {
        min-width: 40rem;
    }
}

@media screen and (max-width: 600px) {
    .select-container {
        min-width: 40rem;
    }
}

@media screen and (max-width: 550px) {
    .select-container {
        min-width: 25rem;
    }
}
/*End-Responsive*/
